<header>
 <nav class="navbar navbar-expand-sm border-bottom">
   <div class="container">
     <button
       class="navbar-toggler ms-auto"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbar-collapse"
       aria-controls="navbar"
       aria-expanded="false"
       aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbar-collapse">
       <ul class="navbar-nav me-auto">
         <li class="nav-item">
           <!--For the calendar page-->
           <a href="{{#if LoggedIn}}/calendar{{else}}/login{{/if}}">Calendar</a>
         </li>
         <li class="nav-item">
           <!--For the list of all trips page-->
           <a href="{{#if LoggedIn}}/trips{{else}}/login{{/if}}">All Trips</a>
         </li>
         <li class="nav-item">
           <!--For the journal about trips page (update page) page-->
           <a href="{{#if LoggedIn}}/journal{{else}}/login{{/if}}">Journal</a>
         </li>
       </ul>
       <div class="nav-item me-1">
         <a href="/logout">Logout</a>
       </div>
     </div>
   </div>
 </nav>
</header>