<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>All Trips Page</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <!-- Your custom CSS -->
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <nav>
    <!-- Your Nav Section -->
  </nav>

  <div class="container">
    <h1>All Trips Page</h1>
    {{#if trips.length}}
      {{#each trips}}
        <div class="trip-card">
          <h2>{{trip_name}}</h2>
          <p>Start Date: {{date_start}}</p>
          <p>End Date: {{date_end}}</p>
          <!-- Include additional trip details as needed -->
          <button>Select</button>
        </div>
      {{/each}}
    {{else}}
      <p>No trips found. Add a trip.</p>
    {{/if}}
    <footer>
      <p>*Map Photo as Background*</p>
    </footer>
  </div>
</body>
</html>