<head>
 <title>All Trips Page</title>
</head>
<body>
  <div class="container">
    <h1>All Trips Page</h1>
    {{#if trips.length}}
      {{#each trips}}
        <div class="trip-card">
          <h2>{{trip_name}}</h2>
          <p>Start Date: {{date_start}}</p>
          <p>End Date: {{date_end}}</p>
          <!-- Include additional trip details as needed -->
          <button>Select</button>
        </div>
      {{/each}}
    {{else}}
      <p>No trips found. Add a trip.</p>
    {{/if}}
    <footer>
      <p>*Map Photo as Background*</p>
    </footer>
  </div>
</body>
